*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color:rgb(252, 251, 251);
    width: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 20px;

}
ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.logo{
    height: 60px;
}

main{
    background-color: rgb(202, 0, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    width: 100%;
}
.hero-info {
display: flex;
flex-direction: column;
gap: 20px;
width: 50%;
}

#hero {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
}

.hero-info h1 {
font-size: 50px;
width: 80;
min-width: 500;
font-weight: 800;
color: var(--text-red);
}

.hero-info p {
    font-size: 20px;
    width: 70%;
    color: var(--text-red);
}

.hero-info a {
    color: var(--text-white);
    background-color: var(--primary);
    width: 130px;
    padding: 20px 0;
    border-radius: 10pxs;
    font-size: 20px;
    text-align: center;
}


.card img {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
}

